@media (max-width:767px){
    section.fundo{
        width: 100%;
        height: 500px;
        background-color: white;
        border-style: solid;
        border-color: black;
        text-align: center;
    }
    section.box12{
        width: 90%;
        height: 100px;
        border-style: solid;
        background-color: lightgrey;
        border-color: black;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
    }
    section.box3{
        width: 90%;
        height: 100px;
        border-style: solid;
        background-color: lightgrey;
        border-color: black;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
    }
    section.titulo1{
        width: 30%;
        height: 20px;
        background-color: red;
        border-style: solid;
        border-top: none;
        border-right: none;
        border-color: black;
        float: right;
    }
    section.titulo2{
        width: 30%;
        height: 20px;
        background-color: green;
        border-style: solid;
        border-top: none;
        border-right: none;
        border-color: black;
        float: right;
    }
    section.titulo3{
        width: 30%;
        height: 20px;
        background-color: blue;
        border-style: solid;
        border-top: none;
        border-right: none;
        border-color: black;
        float: right;
    }
}

@media (min-width:768px) and (max-width:991px){
    section.fundo{
        width: 100%;
        height: 400px;
        background-color: white;
        border-style: solid;
        border-color: black;
        text-align: center;
    }
    section.box12{
        width: 47%;
        height: 100px;
        background-color: lightgrey;
        border-style: solid;
        border-color: black;
        margin-top: 10px;
        margin-left: 1.5%;
        float: left;
    }
    section.box3{
        width: 96.5%;
        height: 100px;
        background-color: lightgrey;
        border-style: solid;
        border-color: black;
        margin-top: 10px;
        margin-left: 1.5%;
        float: left;
    }
    section.titulo1{
        width: 30%;
        height: 20px;
        background-color: red;
        border-style: solid;
        border-top: none;
        border-right: none;
        border-color: black;
        float: right;
    }
    section.titulo2{
        width: 30%;
        height: 20px;
        background-color: green;
        border-style: solid;
        border-top: none;
        border-right: none;
        border-color: black;
        float: right;
    }
    section.titulo3{
        width: 30%;
        height: 20px;
        background-color: blue;
        border-style: solid;
        border-top: none;
        border-right: none;
        border-color: black;
        float: right;
    }
}

@media (min-width:992px){
    section.fundo{
        width: 100%;
        height: 300px;
        background-color: white;
        border-style: solid;
        border-color: black;
        text-align: center;
    }
    section.box12{
        width: 30%;
        height: 100px;
        background-color: lightgrey;
        border-style: solid;
        border-color: black;
        margin-top: 10px;
        margin-left: 2%;
        float: left;
    }
    section.box3{
        width: 30%;
        height: 100px;
        background-color: lightgrey;
        border-style: solid;
        border-color: black;
        margin-top: 10px;
        margin-left: 2%;
        float: left;
    }
    section.titulo1{
        width: 30%;
        height: 20px;
        background-color: red;
        border-style: solid;
        border-top: none;
        border-right: none;
        border-color: black;
        float: right;
    }
    section.titulo2{
        width: 30%;
        height: 20px;
        background-color: green;
        border-style: solid;
        border-top: none;
        border-right: none;
        border-color: black;
        float: right;
    }
    section.titulo3{
        width: 30%;
        height: 20px;
        background-color: blue;
        border-style: solid;
        border-top: none;
        border-right: none;
        border-color: black;
        float: right;
    }
}